.popup {
  display: none;
}

@media screen and (max-width: 850px) {
  .popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    z-index: 5;
    transition: visibility 0.2s, opacity 0.2s linear;
  }

  .popup__container {
    max-width: 520px;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 159px 0 92px;
    box-sizing: border-box;
    position: relative;
    margin-left: 200px;
  }

  .popup__wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .popup__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
    text-decoration: none;
    transition: opacity 0.2s linear;
  }

  .popup__link:hover {
    opacity: 0.7;
  }

  .popup__link_active {
    text-decoration: underline;
  }

  .popup__link-account {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    transition: opacity 0.2s linear;
    color: #000;
    text-decoration: none;
    display: flex;
    gap: 13px;
    align-items: center;
  }

  .popup__link-account:hover {
    opacity: 0.7;
  }

  .popup__link-account_active {
    text-decoration: underline;
  }

  .popup__link-img {
    width: 30px;
    height: 30px;
    background-color: #F9F9F9;
    border-radius: 6px;
    position: relative;
  }

  .popup__link-img::before {
    content: "";
    background-image: url(../../../images/accountLogoBlack.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 9px;
  }

  .popup__button-close {
    width: 22px;
    height: 22px;
    font-size: 18px;
    background-color: transparent;
    background-image: url(../../../images/closeButton.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 22px;
    transition: opacity .2s linear;
  }
  
  .popup__button-close:hover {
    opacity: .6;
  }
}

@media screen and (max-width: 580px) {
  .popup__container {
    margin-left: 100px;
  }
}

@media screen and (max-width: 380px) {
  .popup__container {
    margin-left: 0;
  }
}
